header {
    background-color: rgba(167, 162, 169, 0.7);
    height: 300px;
}
 


header ul li {
    display: inline-block;
    
    &.current-menu-item a,
    &.current_page_parent a {
        color: $white;
    }

    &:not(:first-child) {
        margin-left: 1.5rem;
    }
}

@media only screen and (max-width: 760px) {
    div.main-nav {
    visibility: hidden;
    //display: none;
    }
  }



